@import url('https://fonts.googleapis.com/css2?family=Luxurious+Roman&display=swap');

:root {
  font-family: 'Luxurious Roman', cursive;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color-scheme: light;

}

body {
  margin: 0;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

a img {
  width: 30px;

}

a:hover {
  background: cyan;
}

